In [16]:
print("Hello")

Hello

Data Upload and View

In [17]:
# Importing Dependencies

import pandas as pd

df = pd.read_csv('D:\X_Firm Project\sales-dataset\X_Firm.csv', encoding_errors = 'ignore')
df
df.shape

(10051, 11)

In [18]:
df.head()

,Invoice_Id,Branch,City,Category,Unit_Price,Quantity,Date,Time,Payment_Method,Rating,Profit_Margin
0,1,XF003,San Antonio,Health and beauty,$74.69,7.0,05-01-2019,13:08:00,Ewallet,9.1,0.48
1,2,XF048,Harlingen,Electronic accessories,$15.28,5.0,08-03-2019,10:29:00,Cash,9.6,0.48
2,3,XF067,Haltom City,Home and lifestyle,$46.33,7.0,03-03-2019,13:23:00,Credit card,7.4,0.33
3,4,XF064,Bedford,Health and beauty,$58.22,8.0,27-01-2019,20:33:00,Ewallet,8.4,0.33
4,5,XF013,Irving,Sports and travel,$86.31,7.0,08-02-2019,10:37:00,Ewallet,5.3,0.48

In [19]:
df.describe()
# Quantity_Count,Unit_price not as int

         Invoice_Id      Quantity        Rating  Profit_Margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Invoice_Id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   Category        10051 non-null  object
 4   Unit_Price      10020 non-null  object
 5   Quantity        10020 non-null  float64
 6   Date            10051 non-null  object
 7   Time            10051 non-null  object
 8   Payment_Method  10051 non-null  object
 9   Rating          10051 non-null  float64
 10  Profit_Margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [21]:
#  Dulicate values
df.duplicated().sum()

51

In [22]:
# Missing values
df.isnull().sum()

Invoice_Id         0
Branch             0
City               0
Category           0
Unit_Price        31
Quantity          31
Date               0
Time               0
Payment_Method     0
Rating             0
Profit_Margin      0
dtype: int64

In [23]:
# Now Dropping the Duplicates
df.drop_duplicates(inplace = True)
df.duplicated().sum()

0

In [24]:
# New Dimensions
df.shape

(10000, 11)

In [25]:
#  Now dropping the Missing values
df.dropna(inplace = True)
df.isnull().sum()

Invoice_Id        0
Branch            0
City              0
Category          0
Unit_Price        0
Quantity          0
Date              0
Time              0
Payment_Method    0
Rating            0
Profit_Margin     0
dtype: int64

In [26]:
df.shape

(9969, 11)

In [27]:
#  Now changing the data type of Unit_price 
df['Unit_Price'] = df['Unit_Price'].str.replace('$','').astype(float)   # Here '$' is replaced by '' and then converted to float
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Invoice_Id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   Category        9969 non-null   object
 4   Unit_Price      9969 non-null   float64
 5   Quantity        9969 non-null   float64
 6   Date            9969 non-null   object
 7   Time            9969 non-null   object
 8   Payment_Method  9969 non-null   object
 9   Rating          9969 non-null   float64
 10  Profit_Margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

C:\Users\dewan\AppData\Local\Temp\ipykernel_17684\2850439338.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Unit_Price'] = df['Unit_Price'].str.replace('$','').astype(float)   # Here '$' is replaced by '' and then converted to float

In [28]:
df.columns

Index(['Invoice_Id', 'Branch', 'City', 'Category', 'Unit_Price', 'Quantity',
       'Date', 'Time', 'Payment_Method', 'Rating', 'Profit_Margin'],
      dtype='object')

In [29]:
df.columns = df.columns.str.lower()   # Lowercase as Psql is case sensitive

In [30]:
# For total amount a colunm 'Total_Amount' is created
df['Total_Amount'] = df['Quantity'] * df['Unit_Price']
df.head()

KeyError: 'Quantity'

In [16]:
#  Making a copy of the Cleaned data
X_Clean =df.to_csv('D:\X_Firm Project\sales-dataset\X_Firm_cleaned.csv', index = False)

NOW EXPORTING the Data To SQL

In [17]:
# importing dependencies
import psycopg2 
from sqlalchemy import create_engine

In [22]:
# host = localhost
# port = 5432
# user= postgres
# password = 26@January
engine_psql = create_engine("postgresql+psycopg2://postgres:26%40January@localhost:4522/Firm_X")

try:
    engine_psql
    print("Connection succesful")
except:
    print("Not Connected")

Connection succesful

In [23]:
df.to_sql(name="Firm1", con=engine_psql, if_exists='append', index=False)

969